<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="layout/header" th:remove="tag"></div>
<body>
<div th:replace="fragments/common :: header"></div>
<div th:if="${likeList.size == 0}">
    <h2>게시물이 없습니다.</h2>
</div>
<table class="table table-horizontal" th:if="${likeList.size != 0}">
    <tr>
        <td>갤러리</td>
        <td>제목</td>
        <td>추천 수</td>
        <td>댓글 수</td>
        <td>작성일</td>
        <td>작성자</td>
        <td>좋아요일자</td>
        <td>좋아요취소</td>
    </tr>
    <tr th:each="like: ${likeList}">
        <td th:text="${like.galleryKorName}"></td>
        <td th:text="${like.title}"></td>
        <td th:text="${like.allLike}"></td>
        <td th:text="${like.allReply}"></td>
        <td th:text="${like.articleDate}"></td>
        <td th:text="${like.writerNickname}"></td>
        <td th:text="${like.likeDate}"></td>
        <td><button type="button" class="btn btn-secondary" id="btn-dislike" th:data-idx="${like.articleIdx}">취소</button></td>
    </tr>
</table>
<a th:href="@{/my/{username}(username=${sessionUser.username})}">내정보 돌아가기</a>
<div th:replace="layout/footer" th:remove="tag"></div>
<script th:src="@{/js/article/Article.js}"></script>
<div th:replace="fragments/common :: footer"></div>
</body>
</html>