<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="layout/header" th:remove="tag"></div>
<body>
<div th:replace="fragments/common :: header"></div>
<form>
    <div class="form-group">
        <label for="current-password">현재 패스워드</label>
        <input type="password" class="form-control" id="current-password" name="current-password"/>
    </div>
    <div class="form-group">
        <label for="new-password">새 패스워드</label>
        <input type="password" class="form-control" id="new-password" name="new-password"/>
        <p id="password-warning" style="display: none; color: red;">패스워드는 8~13자리로 최소 한 가지 이상의 문자와 숫자 특수문자가 들어가야 합니다.</p>
        <p id="password-good" style="display: none; color: limegreen">OK.</p>
    </div>
    <div class="form-group">
        <label for="confirm-new-password">새 패스워드 확인</label>
        <input type="password" class="form-control" id="confirm-new-password" name="confirm-new-password"/>
        <p id="password-warn" style="display: none; color: red;">패스워드가 일치하지 않습니다.</p>
        <p id="password-confirm-good" style="display: none; color: limegreen">OK.</p>
    </div>
    <button type="button" id="btn-password-reset" class="btn btn-info">패스워드변경</button>
    <a role="button" class="btn btn-secondary" th:href="@{/my/info/{username}(username=${sessionUser.username})}">취소</a>
</form>
<div th:replace="layout/footer" th:remove="tag"></div>
<script th:src="@{/js/article/Article.js}"></script>
<div th:replace="fragments/common :: footer"></div>
</body>
</html>