<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="layout/header" th:remove="tag"></div>
<body>
<div th:replace="fragments/common :: header"></div>
    <form>
        <div class="form-group">
            <label for="new-password">새 비밀번호</label>
            <input type="password" class="form-control" id="new-password"/>
            <p id="password-warning" style="display: none; color: red;">패스워드는 8~13자리로 최소 한 가지 이상의 문자와 숫자 특수문자가 들어가야 합니다.</p>
            <p id="password-good" style="display: none; color: limegreen">OK.</p>
        </div>
        <div class="form-group">
            <label for="confirm-new-password">새 비밀번호 확인</label>
            <input type="password" class="form-control" id="confirm-new-password"/>
            <p id="password-warn" style="display: none; color: red;">패스워드가 일치하지 않습니다.</p>
            <p id="password-confirm-good" style="display: none; color: limegreen">OK.</p>
        </div>
        <button type="button" class="btn btn-primary" id="btn-forgot-reset">비밀번호 변경</button>
    </form>
<div th:replace="layout/footer" th:remove="tag"></div>
<script th:src="@{/js/user/User.js}"></script>
<div th:replace="fragments/common :: footer"></div>
</body>
</html>