<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html-head">
    <meta charset="UTF-8">
    <title>HCommunity</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" href="/">HCommunity</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" th:if="${sessionUser == null}">
                    <a class="nav-link" th:href="@{/login}">로그인</a>
                </li>
                <li class="nav-item active" th:if="${sessionUser == null}">
                    <a class="nav-link" th:href="@{/signup}">회원가입</a>
                </li>
                <li class="nav-item active" th:if="${sessionUser != null}">
                    <a class="nav-link" th:href="@{/my/{username}(username=${sessionUser.username})}">내정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/article}">게시판</a>
                </li>
                <li class="nav-item" th:each="gallery: ${galleryList}">
                    <a class="nav-link" th:text="${gallery.galleryKorName}" th:href="@{/article/{gallery}gall(gallery=${gallery.galleryName})}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="alert('준비중');">About</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit" onclick="alert('준비중');">Search</button>
            </form>
        </div>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        adfkljfadk;
    </div>
</div>
<div th:fragment="footer">
    <footer class="row mt-2">
        <div class="col-md-12">
            &copy; 2022 HJHEARTS
        </div>
    </footer>
</div>
</body>
</html>