<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="layout/header" th:remove="tag"></div>
<body>
<div th:replace="fragments/common :: header"></div>
<h2>Autoasis Server</h2>
<div class="col col-md-12">
    <a role="button" class="btn btn-primary" th:href="@{/login}" th:if="${sessionUser == null}">로그인</a>
    <a role="button" class="btn btn-danger" th:href="@{/logout}" th:if="${sessionUser != null}">로그아웃</a>
    <a role="button" class="btn btn-primary" th:href="@{/article}">게시판</a>
</div>
<div th:replace="layout/footer" th:remove="tag"></div>
<script th:src="@{/js/user/Query.js}"></script>
<div th:replace="fragments/common :: footer"></div>
</body>
</html>